
@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-Thin.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-Thin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedThin.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedThin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ThinItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedThinItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtraLight.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedExtraLight.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtraLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedExtraLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-Light.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-Light.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedLight.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-LightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-LightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-LightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-LightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-Regular.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-Regular.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-Extended.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-Extended.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-Oblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-Oblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-Italic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-Italic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-Medium.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-Medium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedMedium.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedMedium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-MediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-MediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-MediumItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-MediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedMediumItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedMediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-SemiBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-SemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedSemiBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedSemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-SemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-SemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-SemiBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-SemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedSemiBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedSemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-Bold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-Bold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-BoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-BoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-BoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-BoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtraBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedExtraBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtraBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedExtraBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-Heavy.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-Heavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedHeavy.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedHeavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-HeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-HeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-HeavyItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-HeavyItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixedSS15-ExtendedHeavyItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaFixedSS15-ExtendedHeavyItalic.TTF') format('truetype');
}
