
@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-Thin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedThin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-Light.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-LightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-Regular.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-Extended.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-Italic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-Medium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedMedium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-MediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-SemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedSemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-SemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-Bold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-BoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-Heavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedHeavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-HeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS15 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS15-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS15-ExtendedHeavyItalic.ttf') format('truetype');
}
